<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="c:\inetpub\yvonne"/>
        <add key="WSGI_HANDLER" value="app.app"/>
	<add key="WSGI_Log" value="c:\inetpub\yvonne\logs.txt"/>
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="Flask" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\jhong\AppData\Local\Programs\Python\Python310\python.exe|C:\inetpub\yvonne\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
	    <security> 
	        <requestFiltering allowDoubleEscaping="true"></requestFiltering> 
	    </security> 
    </system.webServer>
</configuration>
